body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b1e4ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  #stopwatch {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #eeb0fa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  