.clock {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .time {
    height: 40%;
    width: 30%;
    padding: 20px;
    background-color:rgb(103, 150, 151);
    color: #fef101;
    font-size: xx-small;
    text-shadow:0pt red ;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size:80px;
    font-style: unset;
    border-radius: 0px 40px;
    
  }
  