.main{
    border: 2px solid rgb(237, 161, 167);
    border-radius: 40px 40px 0px 0px ;
}
.romil {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:red;
    padding-bottom: 5px;
    font-family: Times New Roman;
}

.ani{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aqua;
}

h2 {
    width: 350px;
    animation-name: text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* background-color: rgb(255, 210, 85); */
}

#one {
    animation-timing-function: ease;
    background-color: pink;
}

#two {
    animation-timing-function: linear;
    background-color: peachpuff;
}

#three {
    animation-timing-function: ease-in;
    background-color: aquamarine;
}

#four {
    animation-timing-function: ease-out;
    background-color: palevioletred;
}

#five {
    animation-timing-function: ease-in-out;
    background-color: cadetblue;
}

@keyframes text {
    from {
        margin-left: 70%;
    }

    to {
        margin-left: 0%;
    }
}