*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
ul li{
    list-style-type: none;
    display: flex;
}
/* main part */
main{
    display: flex;
}
/* navbar start */
.aside{
    height: 300vh;
    width: 220px;
    margin-left: 10px ;
    border: 1px solid black;
    /* background-color: red; */
}
.aside .aside-logo{
    align-items: center;
}
.aside .aside-logo .logo img{
    height: 25px;
    margin: 6px 0 0 10px;
}
.aside .aside-logo .logo span{
    color: #5D596C;
    font-family: sans-serif;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 22px;
    /* margin-left: 10px; */
    text-transform: capitalize;
    FONT-FAMILY:"Public Sans", sans-serif, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}
.aside .aside-logo .logo input{
    position: relative;
    left: 80px;
}
/* section start */
/* .main-section{
    display: flex;
} */
.main-section nav{
    /* box-sizing: border-box; */
    position: absolute;
    top:1px ;
    left:240px;
    background-color: #fff;
    padding: 0px 20px;
    margin: 24px auto;
    /* max-width: 955px; */
    height: 60px;
    width: 970px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    justify-content:space-between;
}
.main-section .search-box .search input{
    border: none;
    font-size: 15px;
    margin: 50px;
    width: 600px;
    left: 800px;
    color: #6c6b70;
}
/* nav-button */
.main-section .nav-button .profile-logo{
    height: 30px;
    width: 30px;
    border-radius: 20px 20px 20px 20px;
}
.main-section .main-div1{
    box-sizing: border-box;
    background-color: #7367F0;
    display: flex;
    margin: 115px 20px;
    /* /* position: relative; */
    /* top: -500; */
     left: 260px;  
    height: 240px;
    width: 480px;
    border-radius: 5px;
}
.main-section .main-div1 .card-1 .card-data{
    font-family: sans-serif;
    color: white;
    margin: 20px 10px;
    /* margin-left: 50px; */
    line-height: 27px;
}
.main-section .main-div1 .card-1 .card-data h1{
    font-size: 21px;
}
.main-section .main-div1 .card-1 h3{
    color: white;
    margin: 0 10px;
    font-family: sans-serif;
}
.main-section .main-div1 .card-1 .sub-data{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.main-section .main-div1 .card-1 .sub-data{
    display: inline-block;
    position: relative;
    margin: 10px 5px;
}
.main-section .main-div1 .card-1 .sub-data li{
    display: flex;
    font-size: 15px;
    flex: 1 1 50%;
    height: 55px;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
    text-align:start;
    padding: 2px;
}
.main-section .main-div1 .card-1 .sub-data li span{
    align-items: center;
    text-align: center;
    display: inline-block;
    margin: 0% 4px;
    line-height: 30px;
    width: 50px;
    height: 55%;
    font-size: 15px;
    font-weight: bold;
    background-color: #00000028;
    border-radius: 5px;
}
.main-section .main-div1 .card-1 .sub-data p{
    font-size: 15px;
    position: relative;
    top: 5px;
    left: 2px;
    font-weight: bold;
    /* align-items: center;
    text-align: center; */
    display: inline-block;
}
.main-section .main-div1 .card-1 .sub-data .sub-data2{
    position: relative;
    top: -10px;
}
.main-section .main-div1 .card-1 .sub-data .sub-data3{
    position: relative;
    top: -116px;
    left: 130px;
    
}
.main-section .main-div1 .card-1 .sub-data .sub-data4{
    position: relative;
    top: -126px;
    left: 130px;
}
.main-section .main-div1 .card-1 .card-img{
    display: flex;
    position: relative;
    top: -350px;
    left: 280px;
    height: 175px;
    width: 175px;
}
.main-section .main-div2{
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    display: flex;
    position: absolute;
    top: 115px;
    left: 800px;
    margin: 1px 5px;
    height: 240px;
    width: 250px;
    border-radius: 5px;
    
}
.main-section .main-div2 .card-2{
    color: #888690;
    font-size: 15px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main-section .main-div2 .card-2 .card-data2{
    font-family: sans-serif;
    position: relative;
    top: 21px;
    left: 10px;
}
.main-section .main-div2 .card-2 span{
font-family: sans-serif;
    color: rgb(59, 241, 59);
    margin: 10px 20px;
    position: relative;
    left: 150px;
    font-size: 20px;
}
.main-section .main-div2 h5{
    color: rgb(104, 102, 102);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    top: 42px;
    right: 97px;
}
.main-section .main-div2 .order h3{
    position: relative;
    top: 100px;
    left: -120px;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(147, 144, 144);
}
.main-section .main-div2 .order .text{
    font-family: sans-serif;
    position: relative;
    top: 120px;
    left: -160px;
    font-size: 20px;
    color: rgb(95, 94, 94);
}
.main-section .main-div2 .order .text1{
    font-family: sans-serif;
    position: relative;
    top: 125px;
    left: -160px;
    font-size: 10px;
    color: rgba(145, 143, 143, 0.711);
}
.main-section .main-div2 .vs{
    position: relative;
    top: 140px;
    right: 115px;
    border-radius: 50%;
    height: 20px;
    color: rgb(153, 148, 148);
    background-color: #bab9bcb9;
    font-family: sans-serif;
}

.main-section .main-div2 .order1
{
    font-family: sans-serif;
    position: relative;
    top: 100px;
    right: 80px;
    font-size: 13px;
    color: rgb(147, 144, 144);
}
.main-section .main-div2 .order1 h3{
    position: relative;
    left: -20px;
}

.main-section .main-div2 .order1 .text2{
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 14px;
    font-size: 20px;
    color: rgb(95, 94, 94);
}
.main-section .main-div2 .order1 .text3{
    font-family: sans-serif;
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 15px;
    font-weight: 300px;
    color: rgba(145, 143, 143, 0.838);
}

.main-section .main-div3{
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    display: flex;
    position: absolute;
    top: -1px;
    left: 260px;
    margin: 1px 5px;
    height: 238px;
    width: 250px;
    border-radius: 5px;
}
.main-section .main-div3 .card-3 .card-data3 img{
    margin: 6px 12px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgba(61, 243, 61, 0.664);
}
.main-section .main-div3 .card-3 .card-data3 .text4{
    color: #4f4f51;
    font-family: sans-serif;
    position: relative;
    top: -1px;
    left: 12px;
    font-size: 20px;
}
.main-section .main-div3 .card-3 .text5{
    position: relative;
    top: -3px;
    left: 12px;
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(170, 169, 169, 0.845);
}
.main-section .main-div3 .img-1{
    position: relative;
    top: 100px;
    left: -75px;
    width: 295px;
    height: 147px;
}
.main-section2 .main-div{
    box-sizing: border-box;
    display: flex;
}
.main-section2 .main-div .main-div4 .card-4{
    box-sizing: border-box;
    position: relative;
    top: 400px;
    right: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    height: 400px;
    width: 490px;
}
.main-section2 .main-div .main-div4 .card-4 .report{
    position: relative;
    top: 20px;
    left: 20px;
    font-family: sans-serif;
    color: rgba(50, 49, 49, 0.832);
}
.main-section2 .main-div .main-div4 .card-4 p{
    position: absolute;
    top: 40px;
    left: 20px;
    font-family: sans-serif;
    color: rgba(50, 49, 49, 0.832);
}
.main-section2 .main-div .main-div4 .card-4 .rate{
    position: relative;
    top: 57px;
    left: 20px;
    font-family: sans-serif;
    color: rgba(40, 40, 40, 0.762);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section2 .main-div .main-div4 .card-4 .rate1{
    position: relative;
    top: 65px;
    left: 20px;
    font-size: 20px;
    color: rgb(38, 244, 27);
    font-family: sans-serif;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    background-color: rgba(92, 249, 92, 0.274);
}
.main-section2 .main-div .main-div4 .card-4 .p{
    max-width: 200px;
    position:relative;
    top: 80px;
}
.main-section2 .main-div .main-div4 .card-4 .graph{
    position: absolute;
    top: -1px;
    left: 200px;
}
.main-section2 .main-div .main-div5{
    display: flex;
}
.main-section2 .main-div .main-div5 .card-5{
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    height: 400px;
    width: 490px;
}
.main-div5 .card-5 .tracker{
    /* margin: 10px 20px; */
    padding: 20px 20px;
}
.main-div5 .card-5 h2{
    color: #464647e8;
    font-size: 18px;
    font-family: sans-serif;    
}
.main-div5 .card-5 p{
    font-family: sans-serif;
    color: #505051;
    font-size: 14px;
    padding: 8px 1px;
}
.main-div5 .card-5 .total{
    position: relative;
    top: 13px;
    font-size: 35px;
    color: #3f3f40eb;
    font-size: sans-serif;
}
.main-div5 .card-5 span{
    line-height: 50px;
    color: #505051;
    font-family: sans-serif;
}
.main-div5 .card-5 .tickets{
    display: block;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 10px 60px;
    /* line-height: 20px; */
}
.main-div5 .card-5 .tickets .ti-1{
    display: block;
    line-height: 20px;
}
.main-div5 .card-5 .tickets .ti-2{
    display: block;
    position: relative;
    top: 18px;
    line-height: 20px;
}
.main-div5 .card-5 .tickets .ti-3{
    line-height: 20px;
    position: relative;
    top: 35px;
}
.main-div5 .card-5 img{
    position: relative;
    height: 300px;
    width: 300px;
    top: -300px;
    left: 170px;
}
.main-section3{
    margin: 25px 10px;
    justify-content: space-between;
}
.main-section3 .main-div6{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    height: 100px;
    width: 100px;
    height: 450px;
    width: 320px;
    position: absolute;
    top: 830px;
    left: 240px;
}
.main-section3 .main-div6 .card-6 h1{
    margin: 15px 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: #474749;
}
.main-section3 .main-div6 .card-6 p{
    color: #6d6d6d;
    margin: 15px 20px;
    line-height: 1px;
    font-size: 15px;
    font-family: sans-serif;
}
.main-section3 .main-div6 .card-img .img-2{
    margin: 20px 20px
}
.main-section3 .main-div6 .card-img .us{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 90px;
    color: #6c6b70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div6 .card-img .img-3{
    position: absolute;
    top: 150px;
    left: 20px;
}
.main-section3 .main-div6 .card-img .br{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 150px;
    color: #6c6b70;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div6 .card-img .img-4{
    position: absolute;
    top: 210px;
    left: 20px;
}
.main-section3 .main-div6 .card-img .in{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 210px;
    color: #6c6b70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div6 .card-img .img-5{
    position: absolute;
    top: 270px;
    left: 20px;
}
.main-section3 .main-div6 .card-img .au{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 270px;
    color: #6c6b70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div6 .card-img .img-6{
    position: absolute;
    top: 330px;
    left: 20px;
}
.main-section3 .main-div6 .card-img .fr{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 330px;
    color: #6c6b70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div6 .card-img .img-7{
    position: absolute;
    top: 390px;
    left: 20px;
}
.main-section3 .main-div6 .card-img .ch{
    display: inline-block;
    min-width: 500px;
    position: absolute;
    top: 390px;
    color: #6c6b70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section3 .main-div7{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    height: 100px;
    width: 100px;
    height: 350px;
    width: 320px;
    position: absolute;
    top: 830px;
    left: 580px;
}
.main-section3 .main-div8{
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    height: 100px;
    width: 100px;
    height: 350px;
    width: 320px;
    position: absolute;
    top: 830px;
    left: 920px;
}
