.hading{
    display: flex;
    justify-content: center;
    border:3px  solid #000;
    background-color:rgb(198, 245, 247);

}
.pro{
    
    height: 50px ;
    width:auto;
    padding-left: 5px;
    border: 2px solid red;
    border-radius: 20px 20px 20px 20px;
    /* justify-content: center; */
}
.list{
    display: flex;
    justify-content: space-between;
    
}