@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
      @apply px-1 py-1 bg-rose-500 text-white font-bold text-xl border-2 border-solid border-black m-6
    }
  }