.loader{
   transform:rotateX('70 deg')
}
.loader .element{
    display: block;
    border-left: 5px solid rgb(35,199,231);
    border-right: 5px solid rgb(35,199,231);
    border-top: dotted 2px rgb(29,146,170);
    width: 10rem;
    height: 1rem;
    margin-top: 0.5rem;
    perspective: 1000px;
    animation:rotate 5s infinite linear;
    animation-delay: calc(var(--i)*0.2s);
}
@keyframes rotate{
    100%{
        transform:rotateY('360deg')
    }
}