@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
      @apply px-2 py-2  bg-green-600 text-white font-bold text-xl border-2 border-solid border-black m-2
    }
}